body {
    background-color: rgb(234, 204, 243);
    font-family:Arial, Helvetica, sans-serif;  
    color: Navy; 
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(234, 204, 243);
    z-index: 100;

nav a {
    float: right;
    padding: 10px;
    overflow: hidden;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

